// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@400;500;600;700&display=swap");
// VARIABLES
// Colors
// primary colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$dark_green: darken($green, 10%);
$light_green: lighten($green, 10%);
// accent colors
$blue: hsl(248, 32%, 49%);
// neutral colors
$dark_blue: hsl(249, 10%, 26%);
$grayish_blue: hsl(246, 25%, 77%);
// box-shadow
$box_shadow_color: hsl(249, 10%, 26%, 0.4);
// Typography
// font-family
$ff: "Poppins", sans-serif;
// font-weight
$fw_regular: 400;
$fw_medium: 500;
$fw_semiBold: 600;
$fw_bold: 700;
// font-size
$fs_bodyCopy: 1rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
// Remove border fieldset
fieldset {
  border: none;
}

// Make label visually hidden
label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.063rem;
  margin: -0.063rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
// STYLES (Mobile First)
body {
  height: 100vh;
  background-color: $red;
  background-image: url(../images/bg-intro-mobile.png);
  font-family: $ff;
  display: grid;
  place-items: center;
  @media only screen and (min-width: $desktop) {
    background-image: url(../images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

main {
  @media only screen and (min-width: $desktop) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.375rem;
    max-width: 90rem;
  }
}

.textBlock,
legend,
button {
  color: white;
}

.textBlock {
  text-align: center;
  margin-top: 5.313rem;
  margin-bottom: 3.75rem;
  @media only screen and (min-width: $desktop) {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
  }
  h1 {
    font-size: 1.688rem;
    line-height: 1.3;
    max-width: 14.688rem;
    margin-right: auto;
    margin-left: auto;
    @media only screen and (min-width: $desktop) {
      max-width: 37.5rem;
      font-size: 3.438rem;
      margin: 0 0 2.188rem 0;
      line-height: 1.1;
    }
  }
  p {
    font-size: $fs_bodyCopy;
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
    @media only screen and (min-width: $desktop) {
      max-width: 37.5rem;
      font-size: 1.125rem;
      margin: 0;
      line-height: 1.6;
    }
  }
}

legend {
  background-color: $blue;
  text-align: center;
  padding: 1.063rem 4.688rem;
  border-radius: 15px;
  font-weight: $fw_regular;
  line-height: 1.7;
  box-shadow: 0 10px 2px -2px $box_shadow_color;
  margin-bottom: 1.125rem;
  display: block;
  @media only screen and (min-width: $desktop) {
    width: 28.125rem;
  }
}

.container {
  background-color: white;
  box-shadow: 0 10px 2px -2px $box_shadow_color;
  padding: 1.625rem;
  border-radius: 15px;
}

.box {
  width: 100%;
  position: relative;
  margin-bottom: 1.188rem;

  input {
    padding: 1.25rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid $grayish_blue;
    font-weight: $fw_bold;
    margin-bottom: 0.25rem;
    @media only screen and (min-width: $desktop) {
      padding: 1.375rem;
      font-size: $fs_bodyCopy;
    }
  }
  .errorIcon {
    position: absolute;
    top: 1.063rem;
    right: 1.5rem;
    display: block;
    @media only screen and (min-width: $desktop) {
      top: 1.313rem;
    }
  }
  .errorMessage {
    display: block;
    color: $red;
    font-style: italic;
    text-align: right;
    font-size: 0.75rem;
  }
}

.box input:focus {
  border-color: $blue;
  outline: none;
}

.box.error input {
  color: $red;
  border-color: $red;
}

.box.error input::placeholder {
  opacity: 0;
}
// Makes the Error Icon invisible
.box .errorIcon {
  opacity: 0;
}
// Makes the Error Icon visible
.box.error .errorIcon {
  opacity: 1;
}
// Makes the Error Message invisible
.box .errorMessage {
  opacity: 0;
}
// Makes the Error Message visible
.box.error .errorMessage {
  opacity: 1;
}

button {
  display: block;
  width: 100%;
  padding: 1.25rem;
  border: none;
  border-radius: 6px;
  background-color: $green;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: $fw_bold;
  box-shadow: 0 8px 2px -2px $dark_green;
  margin-bottom: 1.188rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $light_green;
  }
  &:active {
    transform: translateY(4px);
    box-shadow: 0 5px #666;
  }
}

.termsOfservice {
  font-size: 0.8rem;
  display: block;
  text-align: center;
  color: $grayish_blue;
  a {
    color: $red;
    font-weight: $fw_semiBold;
    cursor: pointer;
    text-decoration: none;
  }
}

footer {
  font-size: 0.875rem;
  color: $blue;
  .attribution {
    color: white;
    margin: 0;
  }
  @media only screen and (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    font-size: $fs_bodyCopy;
  }
}
